.gallery-container {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #003366;
}

.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

.photo-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.no-photos-message {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    margin-top: 20px;
}

.download-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #00509e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    z-index: 999999 !important;
}

.download-btn:hover {
    background-color: #003366;
    transform: scale(1.05);
}

.awesome-lightbox {
    z-index: 1000 !important;
}