.gallery {
    padding: 20px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}